.nav-links-text{
  color: #ffffff !important;
  cursor: pointer;
}
.App{
  padding-top: 100px;
}
.shadow-title{
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
.btn-new{
  padding: 0 15px 0 15px;
  border-radius: 4px;
  background-color: #F96132;
  border: unset;
  color: #fff;

  -webkit-box-shadow: 0px 0px 26px -7px rgba(249,97,50,1);
-moz-box-shadow: 0px 0px 26px -7px rgba(249,97,50,1);
box-shadow: 0px 0px 26px -7px rgba(249,97,50,1);
}